@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

// font variables
$font-family-sans-serif: "Manrope", sans-serif !default;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Nunito", sans-serif !default;

// font to body text and headings
$body-font-family: $font-family-sans-serif;
$font-family-base: $body-font-family;
$headings-font-family: "Nunito", sans-serif;
